@using MemoryEngine

<div @onclick="Clicked" class="hover:cursor-pointer hover:scale-110 duration-500 h-32 w-32 rounded-lg shadow-2xl text-center text-white font-bold p-2 @CssBackground">
  @Image
</div>


<style>
  .p1 {
      padding: 0;
      margin: 0;
      background-color: #f70b45;
      background-size: 48px 48px;
      background-image: radial-gradient(
                                       transparent 20px,
                                       #ffffff 20px,
                                       #ffffff 24px,
                                       transparent 24px
    ),
                        radial-gradient(
                                       transparent 20px,
                                       #ffffff 20px,
                                       #ffffff 24px,
                                       transparent 24px
    );
      background-position: 0 0 , 24px 24px;
  }

  .p2 {
      background-image: radial-gradient( circle, rgba(48, 67, 39, 1) 20%, rgba(48, 67, 39, 0) 21% ), radial-gradient( circle, rgba(207, 122, 55, 1) 20%, rgba(207, 122, 55, 0) 21% ), linear-gradient( -45deg, rgb(236, 246, 237, 1) 20%, rgb(236, 246, 237, 0) 21% ), linear-gradient( -45deg, rgb(236, 246, 237, 0) 79%, rgb(236, 246, 237, 1) 80% ), linear-gradient(45deg, rgba(90, 181, 211, 0) 80%, rgba(90, 181, 211, 1) 81%), linear-gradient(45deg, rgba(90, 181, 211, 1) 20%, rgba(90, 181, 211, 0) 21%), linear-gradient(-45deg, rgba(207, 122, 55, 1) 25%, transparent 26%), linear-gradient( -45deg, rgba(207, 122, 55, 0) 74%, rgba(207, 122, 55, 1) 75% ), linear-gradient( 45deg, rgba(237, 201, 112, 0) 74%, rgba(237, 201, 112, 1) 75% ), linear-gradient( 45deg, rgba(237, 201, 112, 1) 25%, rgba(237, 201, 112, 0) 26% ), linear-gradient( rgb(236, 246, 237, 0) 38%, rgb(236, 246, 237, 1) 39% 60%, rgb(236, 246, 237, 0) 61% ), linear-gradient( to right, rgba(237, 201, 112, 0) 35%, rgba(237, 201, 112, 1) 36% 40%, rgb(236, 246, 237, 1) 36% 60%, rgba(237, 201, 112, 1) 61% 65%, rgba(237, 201, 112, 0) 66% ), linear-gradient( rgba(237, 201, 112, 0) 34%, rgba(237, 201, 112, 1) 35% 39%, rgb(236, 246, 237, 1) 40% 60%, rgba(237, 201, 112, 1) 61% 65%, rgba(237, 201, 112, 0) 66% ), linear-gradient( to right, rgba(48, 67, 39, 0) 35%, rgba(48, 67, 39, 1) 36% 65%, rgba(48, 67, 39, 0) 66% ), linear-gradient( to right, rgba(48, 67, 39, 0) 35%, rgba(48, 67, 39, 1) 36% 40%, rgb(236, 246, 237, 1) 36% 60%, rgba(48, 67, 39, 1) 61% 65%, rgba(48, 67, 39, 0) 66% ), linear-gradient( rgba(48, 67, 39, 0) 34%, rgba(48, 67, 39, 1) 35% 65%, rgba(48, 67, 39, 0) 66% ), linear-gradient( rgba(48, 67, 39, 0) 60%, rgba(48, 67, 39, 1) 61% 65%, rgba(48, 67, 39, 0) 66% ), linear-gradient( to right, rgba(90, 181, 211, 0) 0%, rgba(90, 181, 211, 1) 31% 69%, rgba(90, 181, 211, 0) 70% );
      background-position: 30px 85px, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, -3.5px 0, 3.5px 0, 0 -3.5px, 0 3.5px, 0 0;
      background-size: 62px 170px, 62px 170px, 62px 170px, 62px 170px, 62px 170px, 62px 170px, 62px 170px, 62px 170px, 62px 170px, 62px 170px, 62px 170px, 62px 170px, 62px 170px, 62px 170px, 62px 170px, 62px 170px, 62px 170px, 1px 170px;
  
  }

  .p3 {
      padding: 0;
      margin: 0;
      background-color: #f7a800;
      background-size: 56px 56px;
      background-image:
                      linear-gradient(
                                     135deg,
                                     transparent 55%,
                                     #f7a800 55%
    ),
                      radial-gradient(
                                     transparent 6px,
                                     #ffffff 6px,
                                     #ffffff 10px,
                                     transparent 10px,
                                     transparent 15px,
                                     #ffffff 15px,
                                     #ffffff 19px,
                                     transparent 19px,
                                     transparent 24px,
                                     #ffffff 24px,
                                     #ffffff 28px,
                                     transparent 28px
    );
  }

  .p4 {
      background-color: #e5e5f7;
      opacity: 0.7;
      background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 12px ), repeating-linear-gradient( #444cf755, #444cf7 );
  }

  @@keyframes flip {
  0% {
      transform: rotateY(0deg);
  }
  100% {
      transform: rotateY(180deg);
  }
  }
  
  .flip-y {
      animation: flip 1s ease;
  }


</style>

@code {

    [Parameter]
    public int Background { get; set; } = 1;

    [Parameter]
    public MemoryEngine.Card Source { get; set; }

    [Parameter]
    public EventCallback<MemoryEngine.Card> OnClick { get; set; }

    public string CssBackground => Source.State == CardState.Hidden
        ? Background switch {0 => "", 1 => "p1", 2 => "p2", 3 => "p3", 4 => "p4", _ => throw new InvalidDataException()}
        : string.Empty;

    public RenderFragment Image => Source.State == CardState.Visible
        ? Source.ImageId switch {
            1 => SvgIcon.Image1,
            2 => SvgIcon.Image2,
            3 => SvgIcon.Image3,
            4 => SvgIcon.Image4,
            5 => SvgIcon.Image5,
            6 => SvgIcon.Image6,
            7 => SvgIcon.Image7,
            8 => SvgIcon.Image8,
            _ => throw new Exception()
            }
        : _ => { };

    private void Clicked()
    {
        OnClick.InvokeAsync(Source);
    }
}
